<% content_for :javascript_includes do %>
    <%= javascript_include_tag "XRegExp" %>
    <%= stylesheet_link_tag "shCoreDefault.css" %>
    <%= javascript_include_tag "shCore" %>
    <%= javascript_include_tag "shCore" %>

<% end %>

<%= container_class 'container-fluid' %>
<div class="container-fluid">
  <div class="sidebar">
    <div class="well">
      <%= render :partial=>"users/sidebar",:locals=>{:user=>@tutorial.user} %>
    </div>
  </div>
  <div class="content">


    <!-- Example row of columns -->
    <div class="row">
      <div class="span16">
        <h2><%= @tutorial.title %></h2>

        <div>
          <%= raw(@tutorial.content) %>
        </div>

      </div>


    </div>
  </div>

  <script type="text/javascript">
    SyntaxHighlighter.all();
  </script>

</div>

