<% content_for :javascript_includes do %>
    <%= stylesheet_link_tag "prettify" %>
    <%= javascript_include_tag "prettify" %>

<% end %>

<% title "#{@tutorial.user.username} : #{@tutorial.title}" %>

<%= container_class 'container-fluid' %>
<div class="container-fluid">
  <div class="sidebar">
    <div class="well">
      <%= render :partial=>"users/sidebar",:locals=>{:user=>@tutorial.user} %>
    </div>
  </div>
  <div class="content">

    <div class="row">
      <div class="span16">
        <h1><%= @tutorial.title %></h1>
        <p><small>Last Update: <%= display_date(@tutorial.updated_at) %></small></p>
        <p> <strong>Tags:</strong>
          <% @tutorial.tag_list.each do |tag| %>
                <span class="label notice"><%= link_to tag, tutorials_path(:tag=>tag) %></span>
          <% end %>
        </p>
        <% if @tutorial.vs_address && !@tutorial.vs_address.empty? then %>
            <p>
              <h5>Find further code and implementation here: <%= link_to @tutorial.vs_address %> </h5>
            </p>
        <% end %>

        <div id="tutorial-content">
          <%= raw(@tutorial.content) %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="span16">
        <h3>Comments <small>(<%= @tutorial.comments.size %>)</small></h3>
        <% if !@tutorial.comments.empty? %><hr class="top"/><% end %>
        <% @tutorial.comments.each do |comment| %>
            <%= render :partial => 'comments/tutorial', :locals=>{:comment=>comment} %>
        <% end %>

        <%= render 'comments/form' %>

      </div>

    </div>
  </div>

  <script type="text/javascript">
      $(document).ready(function() {

          prettyPrint();
      });
  </script>

</div>

