<!DOCTYPE html>
<html lang="en">
<head>
  <%= csrf_meta_tags %>
  <meta charset="utf-8">
  <title>HelpmeCo.de | <%= content_for?(:title) ? yield(:title) : "" %></title>

  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
   <!--<script src="http://code.jquery.com/jquery-1.6.2.js"></script>-->

  <!-- Le styles -->
  <%= stylesheet_link_tag "bootstrap" %>
  <%= stylesheet_link_tag "application" %>

  <%= javascript_include_tag "application" %>


  <%= yield :javascript_includes %>


  <style type="text/css">
      body {
          padding-top: 60px;
      }
  </style>

  <!-- Le fav and touch icons -->
  <link rel="shortcut icon" href="images/favicon.ico">
  <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
</head>

<body>

<div class="topbar">
  <div class="fill">
    <div class="<%= content_for?(:container_class) ? yield(:container_class) : "container" %>">
      <a class="brand" href="/">HelpMeCo.de</a>
      <ul class="nav">
        <li class="<%= set_active? 'index', 'sites' %> "><%= link_to 'Home', root_url %></li>
        <li class="<%= set_active? 'index', 'tutorials' %>"><%= link_to 'Tutorials', tutorials_path %></li>
        <li class="<%= set_active? 'about' %>"><%= link_to 'About', about_sites_url %></li>
        <li class="<%= set_active? 'contact' %>"><%= link_to 'Contact', contact_sites_url %></li>
      </ul>
      <ul class="nav secondary-nav">
        <% if logged_in? then %>
            <li class="dropdown">
              <%= link_to "Welcome, #{current_user.username}","#",:class=>"dropdown-toggle" %>
              <ul class="dropdown-menu">
                <li>
                  <%= link_to 'Profile', user_path(current_user) %>
                </li>
                <li>
                  <%= link_to 'Logout', logout_path %>
                </li>

              </ul>
            </li>
        <% else %>
            <li><%= link_to 'Login / Register', login_path %></li>
        <% end %>
      </ul>


    </div>

  </div>
</div>

<div class="<%= content_for?(:container_class) ? yield(:container_class) : "container" %>">

  <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, :class => "alert-message #{name}", :style=>"margin-top: 10px" %>
  <% end %>

  <%= yield %>


  <footer>
    <p>&copy; HelpMeCo.de 2011</p>
  </footer>

</div>
<!-- /container -->

</body>
</html>
